



.actions
    width: 99.6%
    max-width: 1260px
    display: flex
    flex-direction: row
    position: fixed
    bottom: 0px
    justify-content: space-between
    align-items: flex-end
    .a-buttons
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        width: 15%
        z-index: 1
        form
            display: none
        .open
            display: flex
            justify-content: center
            align-items: center
            width: 100%
            background-color: gold
            border: 2px solid black
            padding-top: 20px
            z-index: 2
            h3
                width: 95%
                font-size: 1.25rem
                text-align: center
                self-align: center
                color: black
                margin: 8px 0px
                border-bottom: 2px dashed transparent
            h4
                width: 35%
                text-align: center
                self-align: center
                color: black
                margin: 5px 0
                border-bottom: 2px dashed transparent
    

            h4:hover
                cursor: pointer
                border-bottom: 2px dashed black
            h5
                margin: 10px


            .a-select
                font-size: 1rem
                width: 80%

            .a-input
                width: 80%
                font-size: 1rem
                margin: 5px 0

        .isle-buttons
            margin: 0
            width: 100%
            font-size: 1.5rem
            border: 2px solid black
        .isle-buttons:hover
            animation: none





.pass
    display: none
    h5
        display: none
    select
        display: none
    .rooms-input
        display: none


.dash
    display: flex
    flex-direction: column
    justify-content: center
    align-items: space-between

    width: 100%
    .dashdiv
        display: flex
        flex-direction: row
        justify-content: center
        align-items: center

        .direction-selection
            width: 50%
            margin: 10px
            font-size: 0.75rem
        
        .rooms-input
            margin: 10px
            padding: 3px
            width: 8%
            font-size: 0.75rem

.hide
    display: none