.status
    display: flex
    position: sticky
    top: 0px

.panel
    display: flex
    align-items: flex-start
    justify-content: flex-start


.player
    display: flex
    position: sticky
    top: 200px
    text-align: left
    width: 250px
    background-color: brown
    padding-left: 25px
    span
        font-size: 2rem
    h2
        margin: 5px

.inventory
    display: flex
    position: sticky
    top: 200px
    text-align: left
    width: 250px
    background-color: brown
    padding-left: 25px
    span
        font-size: 2rem
    h2
        margin: 5px
